<div class="card">
  <%= link_to image_tag( article.image, class: :card__img ),"#", method: :get  %>
  <div class="card__body">
    <%= link_to article.article, "#", methood: :get, class: :card__title%>
    <p class="card__summary">
      <%= article.improvement %>
    </p>
    <%= link_to "by #{article.user.nickname}","#", class: :card__user %>
  </div>
</div>